.pricelist{
    display:block;
    margin-top: 100px;
    color:black
}

.listholder{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    padding-left: 0px;
}

.listel{
    width: 300px;
    height: 500px;
    display: block;
    border-radius: 40px;
    box-shadow:10px 10px 10px 10px #989898;
    margin: 20px;
}

.pricelisttitle{
    font-family: sans-serif;
    font-size: 48px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.imageel img{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}/* 111 */


.pricelistbutton{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.pricelistbutton a{
    width: 200px;
    height: 25px;
    padding: 5px 10px 10px 10px ;
    border-radius: 25px;
    background-color: red; 
    color: white;
    font-family: sans-serif;
    font-size: 28px; 
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.pricelistbutton a:hover{
    background-color: rgb(167, 16, 16);
}