{% extends "main/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock css %}


{% block content %}
<div class="Banner">
    <div class="bannertitle">
        Салон Красоты <span> Natasha</span>
    </div>
    <div class="bannertext">
        Добро пожаловать в наш салон! Рады вас видеть
    </div>
</div>
<div class="pricelist">
    <div class="pricelisttitle">Прайс лист</div>
    <div class="listholder">
        {% for el in usl  %}
            <div class="listel">
                <div class="imageel">
                    <img src="{{el.image.url}}" alt=""> <!-- image -->
                </div>
                {{el.title}} <br>
                {{el.price}} <br>
            </div>
        {% endfor %} 

    </div>
    <div class="pricelistbutton">
        <a href="{% url 'Home:price' %}">Все услуги</a>
    </div>
</div>

<div class="blockPreview">
    <div class="previewtitle">
        
    </div>
</div>

{% endblock content %}